/*
* @Author: acer
* @Date:   2019-12-12 19:59:53
* @Last Modified by:   acer
* @Last Modified time: 2019-12-12 20:01:35
*/
*{
		padding: 0;
		margin: 0;
	}
	ul,li{
		list-style: none;
		text-align: center;
		font-size: 15px;
	}
	#top{
		height: 25px;
		width: 100%;
		background-color: #ccc;
		overflow: hidden;
	}
	.divs .imgs{
		position: absolute;
		top: 5px;
		left: 300px;
	}
	#divs{
		margin-left: 320px;
		height: 25px;
		width: 1000px;
		overflow: hidden;
		position: relative;
		display: block;
	}
	#spans{
		display: block;
		float: left;
		position: absolute;
		top: 5px;
		right:-280px;
		color: red;
		font-size: 10px;
		height: 10px;
		white-space: nowrap;
	}
	.box{
		width: 1200px;
		height: 379px;
		margin: 100px auto;
		position: relative;
		overflow: hidden;
	}
	.slider{
		width: 8400px;
		position: absolute;
		left: -1200px;
	}
	.slide{
		width: 1200px;
		overflow: hidden;
		float: left;
	}
	.box>span{
		display: block;
		width: 30px;
		height: 50px;
		text-align: center;
		cursor: pointer;
		color: white;
		top: 175px;
		line-height: 50px;
		background-color: rgb(255, 0, 0);
		font-size: 30px;
		position: absolute;
		/*display:none; */
		opacity: 0;
	}
	#left{
		left: 30px;
	}
	#right{
		right: 30px;
	}
	.nav{
		position: absolute;
		left: 500px;
		bottom: 20px;
	}
	.nav>li{
		float: left;
		width: 20px;
		height: 20px;
		background-color: #ccc;
		cursor: pointer;
		margin: 0 10px;
		border-radius: 50%;
	}
	.nav .active{
		background-color: red;
		color: white;
	}